.circle{
    float: left;
    width: calc(33.333% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    border-radius: 100%;
    /* mix-blend-mode: exclusion; */
}



/* .dynamic-bg .circle.red {
    background-color: red;
}
.dynamic-bg .circle.purple {
    background-color: white;
}
.dynamic-bg .circle.blue {
    background-color: blue;
} */

.circle.red{
    background-color: rgb(206, 19, 122);
    animation: circle_scale 1s 0s ease infinite alternate;
}

.circle.purple{
    background-color: rgb(198, 58, 206);
    /* background-color: rgb(197, 19, 206); */
    animation: circle_scale 2s 0s ease infinite alternate;
}

.circle.blue{
    background-color: rgb(19, 103, 206);
    animation: circle_scale 4s 0s ease infinite alternate;
}

.dynamic2-bg .circle.red{
    background-color: rgb(255, 255, 255);
    animation: circle_scale 1s 0s ease infinite alternate;
}

.dynamic2-bg .circle.purple{
    background-color: rgb(60, 157, 255);
    animation: circle_scale 2s 0s ease infinite alternate;
}

.dynamic2-bg .circle.blue{
    background-color: rgb(19, 103, 206);
    animation: circle_scale 4s 0s ease infinite alternate;
}

@keyframes circle_scale {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.circleLine{
    width: 50px;
    height: 50px;
    align-items: center;
}

@media only screen and (min-width: 601px) {
  
    .circleLine.L{
        float: left;
    }

    .circleLine.R{ 
        float: right;
    }

    #navbar{
        /* background-color: aliceblue; */
        margin-bottom: 10px;
    }
}

.line{
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .line{
        display: flex;
        /* width: max-content; */
        width: 100vw;
        justify-content:space-between;
        /* justify-content: space-evenly; */
    }

    .decor {
        display: flex;
        /* justify-content: space-between; */
        margin-bottom: 10px;
    }

}
