.circle{
    float: left;
    width: calc(33.333% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    border-radius: 100%;
    /* mix-blend-mode: exclusion; */
}

.circle.first{
    animation: circle_scale 1s 0s ease infinite alternate;
}

.circle.second{
    animation: circle_scale 2s 0s ease infinite alternate;
}

.circle.third{
    animation: circle_scale 4s 0s ease infinite alternate;
}


/* Light Theme */
.light-bg .circle.first{
    background-color: rgb(255, 255, 255);
}

.light-bg .circle.second{
    background-color: rgb(60, 157, 255);
}

.light-bg .circle.third{
    background-color: rgb(19, 103, 206);
}

/* Dark Theme */
.dark-bg .circle.first {
    background-color: red;
}
.dark-bg .circle.second {
    background-color: white;
}
.dark-bg .circle.third {
    background-color: blue;
}


@keyframes circle_scale {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.circleLine{
    width: 50px;
    height: 50px;
    align-items: center;
}

@media only screen and (min-width: 601px) {
    .circleLine.L{
        float: left;
    }
    .circleLine.R{ 
        float: right;
    }
    #navbar{
        margin-bottom: 10px;
    }
}

.line{
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .line{
        display: flex;
        width: 100vw;
        justify-content:space-between;
    }
    .decor {
        display: flex;
        margin-bottom: 10px;
    }
}
