button{
    margin: 0 5px 0 0;
    padding: 10px;
}

.menuButton{
    margin: 5px;
    border-radius: 50px;
    border: 0px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.light-bg .menuButton {
    background-color: white;
}

.dark-bg .menuButton{
    color: white;
    background-color: rgb(66, 63, 63);
}

.menuButton:hover, .menuButton.selected{
    background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
    );
    color: white;
    cursor: pointer;
}

.menuButton.menuButton.selected {
    background: linear-gradient(
        45deg, 
        rgba(152,68,183,1) 0%, 
        rgba(87,111,230,1) 50%, 
        rgba(59,173,227,1) 100%
        /* rgba(255,53,127,1) 100% */
    );
}

/* .menuButton:hover {
    opacity: 0.8;
} */

/* .floating-button {
    position: absolute;
    left: 35px;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

.floating-button:hover{
    background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
    );
    color: white;
    cursor: pointer;
} */