body{
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.titleBar{
    height: 60px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
    );
}

#section-head {
    width: 200px;
    margin: auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contentBox{
    background-color: rgba(255, 255, 255, 0.403);
    height: fit-content;
    margin: 10px;
    border-radius: 50px;
}

#contentBox div{
    display: none;
}

