body{
    position: relative;
    height: max-content;
    margin: 0;
    font-family: 'Open Sans';
    /* font-family: 'Courier New', Courier, monospace; */
}
    
/* ::-webkit-scrollbar {
    display: none;
} */

.header {
    margin-bottom: 10px;
}

.titleBar{
    color: white;
    height: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.light-bg .titleBar{
    background-image: linear-gradient(
            -45deg,
            rgba(59, 174, 227, 0.53) 0%, 
            rgba(87, 111, 230, 0.386) 25%, 
            rgba(87, 118, 211, 0.642) 51%, 
            rgba(24, 21, 171, 0.586) 100%
    );
}

.dark-bg .titleBar{
    background-image: linear-gradient(
            -45deg, 
            rgb(39, 118, 155) 0%, 
            rgb(57, 73, 152) 25%, 
            rgb(120, 53, 145) 51%, 
            rgb(177, 38, 89) 100%
    );
}

/* Contains banner and menu */
.intro-page {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh);
}

#section-head {
    width: 200px;
    margin: auto;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contentBox{
    border-radius: 50px;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 50px 50px 50px;
}

#imgBox{
    border-radius: 50%;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
}

.light-bg #imgBox {
    background-color: rgba(255, 255, 255, 0.403);   
}

.dark-bg #imgBox {
    background-color: rgba(0, 0, 0, 0.403);   
}

#about-info {
    margin-top: 15px;
}

.light-bg #contentBox {
    background-color: rgba(255, 255, 255, 0.403);
}

.dark-bg #contentBox {
    background-color: rgba(23, 23, 23, 0.403);
}

.proj_grid {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 50px;
    padding: 20px 50px;
    margin: 10px;
}
.light-bg .proj_grid{
    background-color: rgba(255, 255, 255, 0.649);
}
.dark-bg .proj_grid{
    background-color: rgba(0, 0, 0, 0.651);
}
@media only screen and (max-width: 600px) {
    .proj_grid {
      grid-template-columns: auto;
      gap: 20px;
      padding: 10 0;
    }
}
@media only screen and (max-width: 1000px) {
    .proj_grid {
        gap: 20px;
        padding: 20px;
    }
}



.info {
    margin: auto;
    font-size: 18px;
}


.container{
    min-height: 10rem;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 100px;
}

.light-bg .container {
    background-color: rgba(255, 255, 255, 0.403);
}

.dark-bg .container {
    background-color: rgba(126, 126, 126, 0.403);
}

.dark-bg .intro-page .container{
    background-color: rgba(0, 0, 0, 0.403);   
}

.intro {
    font-size: 1rem;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Open Sans';
    /* font-weight: 500; */
    /* padding: 50px; */
    height: min-content;
    min-height: 0px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    /* width: fit-content; */
    /* max-width: 200px; */
    /* text-align: center; */
}
@media only screen and (max-width: 600px) {
    .intro {
        margin-top: 10px;
    }
}
@media only screen and (min-width: 601px) {
    .intro {
      width: 45%;
    }
}


.division{
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    font-size: 20px;
    font-family: optima, sans-serif;
    /* background-color: rgba(57, 57, 57, 0.403); */
    border-radius: 50px;
    font-weight: 700;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: max-content;
    padding: 0 40px;
}

.project.division {
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 0;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

.light-bg .project.division {
    background-color: rgba(255, 255, 255);
    background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
    );
    background-image: linear-gradient(
            -45deg,
            rgba(59, 174, 227, 0.53) 0%, 
            rgba(87, 111, 230, 0.386) 25%, 
            rgba(87, 118, 211, 0.642) 51%, 
            rgba(24, 21, 171, 0.586) 100%
    );
}
.light-bg .division {
    background-color: rgba(255, 255, 255, 0.629);
}

.dark-bg .project.division {
    background-color: rgba(11, 11, 11);
    background-image: linear-gradient(
            -45deg, 
            rgb(39, 118, 155) 0%, 
            rgb(57, 73, 152) 25%, 
            rgb(120, 53, 145) 51%, 
            rgb(177, 38, 89) 100%
    );
}
.dark-bg .division {
    background-color: rgba(11, 11, 11, 0.401);
}

/* .data{
    min-height: calc(100vh - 3rem - 2rem - 1rem);
} */

.credits {
    text-align: center;
    height: 3rem;
    margin-top: 0;
    bottom: 0px;
    line-height: 3rem;
}

.proj-link {
    text-decoration: none;
}

.light-bg .proj-link {
    color: black;
}

.dark-bg .proj-link {
    color: white;
}

.proj-link div {
    background: linear-gradient(
        45deg, 
        rgba(152,68,183,1) 0%, 
        rgba(87,111,230,1) 50%, 
        rgba(59,173,227,1) 100%
        /* rgba(255,53,127,1) 100% */
    );
    color: white;
}

.proj-link div:hover{
    background: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
    );
    /* opacity: 60%; */
    color: white;
}

.light-bg a{
    color: black;
    /* color: blue; */
}

.dark-bg a{
    color: white;
}